html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.25s linear, color 0.25s linear;
  line-height: 1.7;
}
h1 {
  font-size: var(--font-size-8);
}
h2 {
  font-size: var(--font-size-6);
}
h3 {
  font-size: var(--font-size-4);
}
